input:focus {
    outline: none;
}
.none {
    display: none;
}
.bgImg {
    cursor: pointer;
}
textarea {
    resize: none;
    
}
textarea:focus {
    outline: none;
}


.contentBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .aa {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        flex-basis: 170px;
        align-items: center;
        position: relative;
        top: 10px;
        .box__content {
            width: 160px;
            height: auto;
            display: flex;
            flex-direction: column;
            .ch_treeBox {
                justify-content: center;
            }
        }
        .treeBox {
            width: auto;
            height: auto;
            // background-color: red;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            // flex-basis: 100%;
            .treeText {
                width: 130px;
                height: 20px;
                // resize: none;
            }
            .addBox {
                width: 20px;
                height: 20px;
                // background-color: red;
                position: relative;
                padding: 0 10px;
                
            }   //addBox
        }   // treeBox
        .line__box {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            .line {
                height: 50px;
                border-right: 1px solid #000;
                display: flex;
                flex-direction: row;
                position: relative;
                align-items: center;
                .bgImg {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    padding-left: 10px;
                    background: url("../../public/image/plus.png") no-repeat center center;
                    background-size: 20px;
                }
                .minus {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    padding-left: 10px;
                    background: url("../../public/image/minus.png") no-repeat center center;
                    background-size: 20px;
                }
                // img {
                //     width: 20px;
                //     height: 20px;
                //     position: absolute;
                //     padding-left: 10px;
                // }
                
            }
        }   //line__box
    }   //aa box__01
    .boxAdd {
        width: 20px;
        height: 20px;
        position: relative;
        top: 10px;
        background: url("../../public/image/plus.png") no-repeat center center;
        background-size: 20px;
        cursor: pointer;
    }

    .boxMinus {
        width: 20px;
        height: 20px;
        position: relative;
        top: 10px;
        background: url("../../public/image/minus.png") no-repeat center center;
        background-size: 20px;
        cursor: pointer;
    }
}
